<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>pangram.io</title>
    <meta name="description" content="Build your own custom pangram. Pangram.io currently support English, German, French, Italian, Polish, Russian, Swedish, Turkish and Spanish." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     
    <link rel="stylesheet" href="layout/style.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
    <script src="js/maincontroller.js" type="text/javascript"></script>

    <script type="text/javascript" src="//use.typekit.net/mwe4iti.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
 
<body data-ng-app="PangramBuilder" data-ng-controller="MainController">
    <div class="header">
        <h1>pangram.io</h1>
        <p class="subtitle">
            Create your own pangram
        </p>
    </div>

    <div class="content">
        
        <!-- <ul class="select-language">
            <li class="language" data-ng-repeat="language in languages"><a href="#" data-ng-click="selectLanguage(language.name)">{{ language.name }}</a></li>
        </ul> -->

        <form class="input-area">
            <textarea class="input-pangram" rows="2" data-ng-model="inputLetters" data-ng-change="checkLetter()"></textarea>
            <!-- <div class="input-share">
                <a href="#">Save to clipboard</a>
                <a href="#">Share</a> 
            </div> -->
        </form>
        <!-- <h2>Quality: {{ pangramQuality.percentage | number:2 }}%</h2>
        <h2>Error Level: {{ pangramQuality.errorlevel }}</h2>
        <h2>INPUT: {{ inputLetters.length }}</h2>
        <h2>UNIQUE: {{ uniqueLetters.length }}</h2>
        <h2>Default: {{ languages[selectedLanguage].letters.length }}</h2> -->
        <div class="meta">
            <ul class="input-meta">
                <li class="input-meta-item"><span class="input-meta-caption">Language:</span>
                    <label class="input-meta-label">
                    <select class="select-language" data-ng-init="data = languages[selectedLanguage]" data-ng-model="data" data-ng-options="data.name for (object, data) in languages" data-ng-change="selectLanguage(data.name)"></select> 
                    </label>
                </li>
                <li class="input-meta-item"><span class="input-meta-caption">Quality:</span> {{ pangramQuality.percentage | number:2 }}%
                </li>
               <!--  <li class="input-meta-item"><span class="input-meta-caption">Error Level:</span> {{ pangramQuality.errorlevel }}
                </li>   -->
            </ul>
            <div class="letters">
                <div class="letters-default">
                    <span data-ng-repeat="(letter, data) in letters" class="default-{{data.default}} letter {{ data.availability }}">{{ letter }}<sup class="count">{{ data.count }}</span>
                </div>
                <div class="letters-userextended">
                    <span data-ng-repeat="(letter, data) in lettersUserExtended" class="default-{{data.default}} letter {{ data.availability }}">{{ letter }}<sup class="count">{{ data.count }}</span>
                </div>
            </div>
            <!-- <pre>[<span data-ng-repeat="(letter, data) in lettersUserExtended">'{{ letter }}', </span>]</pre> -->
            <!-- <pre>{{ letters | json }}</pre> -->
            <!-- <pre>{{ lettersDefault | json }}</pre> -->
        </div>
    </div>
    <div class="footer">
        Created by <a href="https://twitter.com/filip_axani">Philipp Acsany</a> – Built with <a href="http://angularjs.org">AngularJS</a> and <a href="http://www.ffkievit.com">FF Kievit</a> – Visit this project at <a href="https://github.com/axani/pangram-helper">GitHub</a>
    </div>
 
<script src="js/jquery-2.0.3.min.js"></script>
<script src="js/domscript.js"></script>
</body>
</html>