:root {
  --accent-color: #e53a17;
}

:focus-visible {
  border-color: #0060df;
  box-shadow: 0 0 0 2px rgb(255 10 10/.5);
  outline: 0;
  border-radius: 2px !important;
}

body {
  color: var(--accent-color);
  font-family: system-ui;
  font-size: 1.5em;
  padding: 0 0.5em;
}

@media all and (min-width: 32em) {
  body {
    font-size: 2em;
  }
}

@media all and (min-width: 42em) {
  body {
    max-width: 30em;
    margin: auto;
  }
}

h1 {
  font-weight: 700;
  font-size: clamp(2rem, -0.8750rem + 8.3333vw, 3.7rem);;
  letter-spacing: -1px;
  margin: 0;
  width: 100%;
  text-align: center;
  padding: 0.7em 0 0 0;
}

a {
  color: var(--accent-color);
}

ul {
  margin: 0;
  padding: 0;
}

.subtitle {
  margin: 0;
  margin-top: calc(2.5vh - 5px);
  text-align: center;
  font-size: 1em;
}

@media all and (min-width: 32em) {
  .subtitle {
    font-size: 0.7em;
  }
}

.header {
  min-height: 6em;
}

.content {
  padding-bottom: 1em;
}

footer {
  border-top: 1px solid var(--accent-color);
  font-size: 0.5em;
  font-weight: 400;
  text-align: center;
  margin-top: 4em;
  padding: 1em 0;
}

@media all and (min-width: 32em) {
  footer {
    font-size: 0.4em;
  }
}

.input-area {
  text-align: center;
}

.input-pangram {
  resize: vertical;
  outline: 1px solid var(--accent-color);
  width: 100%;
  border: none;
  border-radius: 4px;
  color: #382a2a;
  font-size: 1em;
  padding: 0.4em;
  margin-bottom: 1em;
}

@media all and (min-width: 32em) {
  .input-pangram {
    font-size: 0.7em;
  }
}

.input-share {
  overflow: hidden;
}

.meta {
  width: 100%;
}

.input-meta {
  font-size: 1em;
  list-style: none;
  width: 100%;
}

@media all and (min-width: 32em) {
  .input-meta {
    font-size: 0.7em;
    display: inline-block;
  }
}

@media all and (min-width: 42em) {
  .input-meta {
    width: 40%;
    padding-left: 0.2em;
  }
}

.input-meta-caption {
  display: inline-block;
  min-width: 6em;
}

@media all and (min-width: 32em) {
  .input-meta-caption {
    min-width: 4em;
  }
}

.input-meta-item {
  line-height: 1.5em;
  margin-bottom: 0.2em;
  display: inline-block;
}

@media all and (min-width: 42em) {
  .input-meta-item {
    display: block;
  }
}

.select-language {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  appearance: none;
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
  border: none;
  color: inherit;
  padding: 0 1.2em 0 0.2em;
  text-transform: capitalize;
}

.input-meta-label {
  position: relative;
  margin-right: 1em;
}

@media all and (min-width: 32em) {
  .input-meta-label {
    margin-right: 2em;
  }
}

@media all and (min-width: 42em) {
  .input-meta-label {
    margin-right: 0;
  }
}

.input-meta-label:after {
  content: "▾";
  position: absolute;
  pointer-events: none;
  right: 0.8em;
  top: -0.05em;
}

.letters {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 0.5em;
}

@media all and (min-width: 42em) {
  .letters {
    width: 58%;
    padding-top: 0;
  }
}

.letters-default {
  display: block;
}

.letters-userextended {
  display: block;
}

.letter {
  border-radius: 4px;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em;
  font-weight: 400;
  position: relative;
  margin: 0.3em;
  text-align: center;
  text-transform: uppercase;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.8em;
  user-select: none;
}

.free {
  color: #382a2a;
  background-color: white;
}

.used {
  color: white;
  background-color: var(--accent-color);
}

.overused {
  color: white;
  background-color: #382a2a;
}

.count {
  position: absolute;
  right: -0.5em;
  top: -0.5em;
  background-color: #f21e0c;
  border-radius: 2em;
  font-size: 0.8em;
  font-weight: 200;
  padding: 0 0.3em;
  height: 1.2em;
  min-width: 1.2em;
  line-height: 1.3em;
  text-align: center;
}

@media all and (min-width: 32em) {
  .count {
    font-size: 0.6em;
  }
}

.free>.count,
.used>.count {
  display: none;
}


/* Don´t show the characters which are not default */


/* ! - Could not get the filter to work in Angular */

.letters-default>.default-false {
  display: none;
}
