body {
    font-size: 1.5em;
}

.letter {
    border: 1px solid gray;
    border-radius: 0.2em;
    color: white;
    display: inline-block;
    padding: 0.2em;
    position: relative;
    margin: 0.4em;
    text-align: center;
    text-transform: uppercase;
    width: 1.2em;
}



.free {
    color: black;
    background-color: white;
}

.used {
    color: white;
    background-color: black;
}

.overused {
    color: white;
    background-color: black;
}

.count {
   position: absolute;
    right: -0.5em;
    top: -0.7em;
    background-color: #F00;
    padding: 0.1em;
    font-size: 0.8em;
    width: 1em;
    height: 1em;
    border-radius: 2em;
    line-height: 1.06em;
    text-align: center;
}

.free > .count, .used > .count {
    display: none;
}

/* Don´t show the characters which are not default */
/* ! - Could not get the filter to work in Angular */
.letters-default > .default-false {
    display: none;
}