/* style.scss */

@import "normalize";

// --- Media Queries ---
    // Die MQ sind bei den jeweiligen Elementen untergebracht.
    // Die Gestaltung der CSS-Elemente ist "Mobile First"
    // Die MQ Variablen können hier global geändert werden:

    $MQ-1: 'all and (min-width: 32em)';
    $MQ-2: 'all and (min-width: 42em)';


$text-color: #e53a17;
$bg-color: #E1E2C1;

$regular-size: 1em;
$small-size: 0.7em;

@font-face {
    font-family: KievitWebPro-Light;
    src: url("fonts/KievitWebPro-Light.eot");
}

/* then for WOFF-capable browsers */
@font-face {
    font-family: KievitWebPro-Light;
    src: url("fonts/KievitWebPro-Light.woff") format("woff");
}


* {
    box-sizing: border-box;
}

html {
    background-color: $bg-color;
}

body {
    color: $text-color;
    font-family: KievitWebPro-Light, "ff-kievit-web-pro", sans;
    font-size: 1.5em;
    font-weight: 300;
    padding: 0 0.5em;
   
    @media #{$MQ-1} {
        font-size: 2em;
    }

    @media #{$MQ-2} {
        max-width: 30em;
        margin: auto;
    }
    
}

h1 {
    font-family: 'jaf-facitweb';
    font-weight: 800;
    font-size: 1.5em;
    margin: 0;
    // text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding: 0.7em 0 0 0;
    @media #{$MQ-1} {
        font-size: 2em;
    }
}


a {
    color: $text-color;
}

ul {
    margin: 0;
    padding: 0;
}

.subtitle {
    margin: 0;
    text-align: center;
    font-size: $regular-size;
    @media #{$MQ-1} {
        font-size: $small-size;
    }
}

.header {
    min-height: 6em;
    border-bottom: 1px solid $text-color;
    margin-bottom: 1em;

    @media #{$MQ-1} {
        min-height: 10em;
    }
}

.content {
    padding-bottom: 1em;
}

.footer {
    border-top: 1px solid $text-color;
    font-family: 'jaf-facitweb';
    font-size: 0.5em;
    font-weight: 400;
    text-align: center;
    margin-top: 4em;
    padding: 1em 0;

    @media #{$MQ-1} {
        font-size: 0.4em;
    }
}

.input-area {
    text-align: center;
}

.input-pangram {
    width: 100%;
    // border: 1px solid #382a2a;
    border: none;
    border-radius: 4px;
    color: #382a2a;
    font-size: $regular-size;
    @media #{$MQ-1} {
        font-size: $small-size;
    }
    padding: 0.4em;
    margin-bottom: 1em;
}

.input-share {
    overflow: hidden;
}

.meta {
    width: 100%;
}

.input-meta {
    font-size: $regular-size;
    list-style: none;
    width: 100%;

    @media #{$MQ-1} {
        font-size: $small-size;
        display: inline-block;
    }

    @media #{$MQ-2} {
        width: 40%;
        padding-left: 0.2em;
    }
}

.input-meta-caption {
    display: inline-block;
    min-width: 6em;

    @media #{$MQ-1} {
        min-width: 4em;
    }
}

.input-meta-item {
    line-height: 1.5em;
    margin-bottom: 0.2em;
    display: inline-block;

    @media #{$MQ-2} {
        display: block;;
    }
}

.select-language {
    -webkit-appearance: none;
    // -moz-appearance:none;
    appearance:none;
    background: rgba(0, 0, 0, 0);
    border-radius: 0;
    border: none;
    color: inherit;
    outline:none;
    padding: 0 1.2em 0 0.2em;
    text-transform: capitalize;
}

.input-meta-label {
    border-bottom: 1px solid $text-color;
    position: relative;
    margin-right: 1em;
    @media #{$MQ-1} {
        margin-right: 2em;
    }

    @media #{$MQ-2} {
        margin-right: 0;
    }
}

.input-meta-label:after {
    content: "▾";
    position: absolute;
    pointer-events: none;
    right: 0.2em;
    top: -0.2em;
}

.letters {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-top: 0.5em;
    @media #{$MQ-2} {
        width: 58%;
        padding-top: 0;
    }
}

.letters-default {
    display: block;
}

.letters-userextended {
    display: block;
}

.letter {
    border-radius: 4px;
    color: white;
    display: inline-block;
    font-size: $small-size;
    font-weight: 400;
    position: relative;
    margin: 0.3em;
    text-align: center;
    text-transform: uppercase;
    width: 1.6em;
    height: 1.6em;
    line-height: 1.8em;
}

.free {
    color: #382a2a;
    background-color: white;
}

.used {
    color: white;
    background-color: $text-color;
}

.overused {
    color: white;
    background-color: #382a2a;
}

.count {
   position: absolute;
    right: -0.5em;
    top: -0.5em;
    background-color: #f21e0c;
    border-radius: 2em;
    font-size: 0.8em;
    @media #{$MQ-1} {
        font-size:  0.6em;
    }
    font-weight: 200;
    padding: 0 0.3em;
    height: 1.2em;
    min-width: 1.2em;
    line-height: 1.3em;
    text-align: center;
}

.free > .count, .used > .count {
    display: none;
}

/* Don´t show the characters which are not default */
/* ! - Could not get the filter to work in Angular */
.letters-default > .default-false {
    display: none;
}